<h1><strong>Books</strong></h1>
<div class="index-top">
<div class="index-title"><strong>Title</strong></div>
<div class="index-body"><strong>Body</strong></div>
</div>
<% @books.each do |book| %>
<table cellspacing="20">
<tr>
  <td><div class="index-title-item"><%= book.title %></td></div>
  <td><div class="index-body-item"><%= book.body %></td></div>
  <td><%=link_to "Show",book_path(book.id) %></td>
  <td><%=link_to "Edit",edit_book_path(book.id) %></td>
  <td><%= link_to "Destroy",book_path(book.id), method: :delet,"data-confirm" => "本当に削除しますか？"  %></td>
</tr>
</table>
<% end %>
<h1>New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>
<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>

  <h4><strong>Title</strong></h4>
  <%= f.text_field :title %>

  <h4><strong>Body</strong></h4>
  <%= f.text_area :body %>

 <div> <%= f.submit 'Create Book' %></div>

<% end %>